<h1>Book a Flight</h1>

<div class="flight-info">
  <h3>Flight Information</h3>
  Flight: <%= @flight.id %><br>
  Departure Time: <%= @flight.departure_datetime.strftime("%m/%d/%y %H:%M") %><br>
  Departure Airport: <%= @flight.departure_airport.code %><br>
  Arrival Airport: <%= @flight.arrival_airport.code %>
</div>

<div class="form-container">
  <%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    <h3>Passenger(s) Information</h3>
    <%= f.fields_for :passengers do |passenger| %>
      <fieldset>
        <legend>Passenger</legend>
        
        <%= passenger.label :name %>
        <%= passenger.text_field :name %>

        <%= passenger.label :email %>
        <%= passenger.email_field :email %>
      </fieldset><br>
    <% end %>
    <%= f.submit "Book Flight" %>
  <% end %>
</div>