<h1>Book a Flight</h1>

<div class="flight-info">
  <h3>Flight Information</h3>
  <span class="flight-detail">Flight:</span> <%= @flight.id %><br>
  <span class="flight-detail">Departure Time:</span> <%= @flight.departure_datetime.strftime("%m/%d/%y %H:%M") %><br>
  <span class="flight-detail">Departure Airport:</span> <%= @flight.departure_airport.code %><br>
  <span class="flight-detail">Arrival Airport:</span> <%= @flight.arrival_airport.code %>
</div>

<div class="booking-form-container">
  <%= form_with model: @booking, data: { controller: 'nested-form', nested_form_container_selector_value: '.passenger-conatainer' } do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>

    <template data-nested-form-target="template">
      <%= f.fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |passenger| %>
        <%= render "passenger_form", passenger: passenger %>
      <% end %>
    </template>

    <h3>Passenger(s) Information</h3>
    <div class="passengers" data-nested-form-target="passengers">
      <%= f.fields_for :passengers do |passenger| %>
        <%= render "passenger_form", passenger: passenger %>
      <% end %>
    </div>
    <a data-action="nested-form#add" class="btn">Add Passenger</a>
    <%= f.submit "Book Flight", class: 'btn book-flight-btn' %>
  <% end %>
</div>