<h1>Booking</h1>

<h2>Flight Information</h2>
<p><strong>Flight # <%= @booking.flight_id %></strong></p>
<p><strong>Flight Date:</strong> <span><%= @booking.flight.departure_datetime.strftime("%m/%d/%y") %></span></p>
<p><strong>Flight Time:</strong> <span><%= @booking.flight.departure_datetime.strftime("%H:%M") %></span></p>
<p><strong>Flight Duration:</strong> <span><%= @booking.flight.duration %> minutes</span></p>
<p>
  <strong>Departure Airport:</strong> 
  <span><%= @booking.flight.departure_airport.code %></span> ==>
  <strong>Arrival Airport:</strong>
  <span><%= @booking.flight.arrival_airport.code %></span>
</p>

<h2>Passenger(s) Information</h2>
<ul class="passengers">
  <% @booking.passengers.each_with_index do |passenger, i| %>
    <li class="passenger">
      <p>
        <span class="heading"><strong>Passenger # <%= i + 1 %></strong></span><br>
        <strong>Name:</strong> <span><%= passenger.name %></span><br>
        <strong>Email:</strong> <span><%= passenger.email %></span>
      </p>
    </li>
  <% end %>
</ul>